<div id="project" class="bg">
   <div id="name">Current Project: </div>
</div>
<div class="container">
 <div class="members bg side">
     <p>Members</p>
     <% if @users.present?%>
	     <% @users.each do |user| %>
		 <div class="user pad">
			 <div class="name"><%=user.first_name%> <%= user.lastname%></div>
		     <div class="department"><%=user.department%></div>
		 </div>
		 <%end%>
	 <%else%>
	     <div class="user pad">
	     	 <p>No Members in the system</p>
	     </div>
	  <%end%>		
  </div>

	<div class="activities bg side">
		<div class="activity">
		 <% if @projectactivity.present?%>
			    <p> Last Task assigned </p>
				<div class="task">Task: <span><%=@projectactivity.task%></span></div>
				<div class="task">Activity: <span><%=@projectactivity.activity%></span></div>
				<% assignee = User.find(@projectactivity.asignor_id)%>
				<div class="task">Asignor: <span><%=assignee.first_name%> <%= assignee.lastname%></span></div>
				<div class="task">Date Assigned: <span><%=@projectactivity.created_at.strftime("%m/%d/%y")%></span></div>
				<% if @projectactivity.completed == 1 %>
				   <div class="task">Status: <span> Completed</span></div>
				<% else %>
	              <div class="task">Status: <span> Not Completed</span></div>
	            <%end%> 
	      <%else%>
	         <%= "No Task Assigned Yet"%> 
	      <%end%> 
		</div>
	</div>

</div>

<div class="container">
  <div class="userdetails bg side"> 
	 <%user = User.find(current_user.id) %>
	 <p>My Details</p>
	 <div class="user-detail">Name: <span><%= user.first_name %> <%= user.lastname %></span></div>
     <div class="user-detail">Email: <span><%= user.email%></span></div>
	 <div class="user-detail">Department: <span><%= user.department %></span></div>
	 <div class="user-detail">Role: <span><%= user.role %></span></div>
	 <div class="user-detail">Username: <span><%= user.username %></span> </div>
	 <div class="user-detail">Date Joined: <span><%= user.created_at.strftime("%m/%d/%y at %H:%M") %></span></div>
  </div>

	<div class="lastproject bg side">
	  <p>Projects I'm Involved in Overview</p>
	  <% @projectactivites = ProjectActivity.where("assignee_id=?",current_user.id)%>
	  <% if @projectactivites.present?%>
	     <% @projectactivites.each do |projectactivity|%>
	         <% project = Project.find(projectactivity.project_id)%>
             <div class="det"> Project <span><%=project.project_name %></span></div>
	     <%end%>
	  <%else%>
	     <div class="det"><p>You Are Not Involved in Any Project</p></div>
	  <%end%>
	</div>

	<div class="overview bg side">
		 <p>Overview</p>
		 <div class="det1">No of Projects Created: <span><%= @project=Project.where("creator=?",current_user.id).count%></span></div>
		 <div class="det1">No of Messages Sent:<span><%= @conversations=Conversation.where("sender_id=?",current_user.id).count%></span></div>
		 <div class="det1">No of Users in the system:<span><%= @users=User.count - 1%></span></div>
	</div>

	<div class="day bg side">
		<div id="time"><%=Time.now.strftime( "%I:%M %p") %></div>
		<div id="day"><%=DateTime.now.strftime( "%B %e, %Y")%></div>
	</div>
		
</div>

	
